# MongoDB Atlas Connection String
# Reemplaza <password> con tu contraseña real
MONGODB_URI=mongodb+srv://admin:<password>@cluster0.xxxxx.mongodb.net/pulperias?retryWrites=true&w=majority

# Puerto del servidor
PORT=3000
